[Desktop Entry]
Comment=CharaChorder's cross-platform logging and analysis desktop app.
Exec=nexus
Icon=ui/images/icon.ico
Name=nexus
StartupNotify=true
StartupWMClass=nexus
Terminal=false
Type=Application
